form {
        clear: both;
}

.title {
        font-weight: bold;
        font-size: 12pt;
        line-height: 8pt;
        text-transform: uppercase;
}

.description {
        line-height: 8pt;
        position: absolute;
        width: 70%;
        top: 30px;
        right: 30px;
        text-align: right;
}

.container {
        position: relative;
        width: 400px;

        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        padding: 30px 30px 30px 30px;

        border: 1px solid black;
        border-radius: 15px;
        background-color: #ffbb44;
}
